[submodule "external/ffgl"]
	path = external/ffgl
	url = https://github.com/resolume/ffgl
[submodule "external/doomgeneric"]
	path = external/doomgeneric
	url = https://github.com/ozkl/doomgeneric
[submodule "external/stagehand"]
	path = external/stagehand
	url = https://github.com/stoatworks-labs/stagehand
